.btn {
    height: 36px;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    margin-left: 5px;
    color: #607D8B;
    padding: 0px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    white-space: nowrap;
    text-transform: uppercase;
    outline: none;
    line-height: 1;
    border-radius: 2px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.btn i {
    display: none;
}

.btn:hover {
    background-color: rgba(0,0,0,0.1);
}

.btn:active {
    background-color: rgba(0,0,0,0.2);
}

@media only screen and (max-width: 425px) {
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        border-radius: 50px;
    }

    .btn i {
        display: unset;
    }

    .btn span {
        display: none;
    }
}